.header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 100%;
  height: 100%;
  max-width: 255px;
  max-height: 69px;
  min-width: 188px;
  min-height: 52px;
}
