.header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
}

.nav__logo {
  max-width: 255px;
  max-height: 69px;
}

@media screen and (max-width: 767px) {
  .nav__logo {
    max-width: 188px;
    max-height: 52px;
  }
}
