.lead {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.lead__title {
  font-size: 96px;
  font-weight: 900;
  max-width: 720px;
  line-height: 1.1;
  text-align: center;
}

.lead__subheading {
  font-size: 30px;
  font-weight: 400;
  max-width: 720px;
  text-align: center;
  padding: 30px 0;
}

.lead__image {
  width: 100%;
  padding-top: 44px;
  max-width: 984px;
  max-height: 615px;
}
