.page {
  width: 100%;
  min-width: 320px;
  margin: auto;
  color: #fff;
  background-color: #2a2c2f;
  font-family: "Inter", sans-serif, Arial;

  gap: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-width: 767px) {
  .page {
    gap: 2em;
  }
}
