.places {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 0;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .places {
    padding: 0 80px;
  }
}

@media screen and (max-width: 767px) and (min-width: 544px) {
  .places {
    padding: 0 20px;
  }
}
